.main_section {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    /*overflow: hidden;*/
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 4% 0 8%;
    margin-bottom: 120px;
}

.main_title_block {
    margin: 0 auto;
    margin-top: 120px;
    width: 90%;
    margin-left: 8%;
}

.main_title_block h2 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(28px, 4vw, 48px);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #0446F1;
    text-align: start;
    padding-right: 100px;
}

.main_title_block {
    font-size: clamp(16px, 2vw, 24px);
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 79px;
    /*margin-left: 120px;*/
}

.blocks > div:nth-child(1) {
    width: 100%;
    height: 100%;
    min-height: 282px;
    grid-column: 1/3;
    justify-self: end;
}

.blocks > div:nth-child(2) {
    width: 96%;
    grid-row: span 2;
    height: auto;
    grid-column: 3;
}

.blocks > div:nth-child(4) {
    width: 100%;
    height: 266px;
    grid-row: span 1;
    grid-column: 2;
}

.block_updating {
    display: flex;
    width: 100%;
    height: auto;
    background: #FAFAFA;
    box-shadow: 10px 10px 30px 5px #0446F11A;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    justify-content: space-between;
    padding: 2%;
}

.block_updating:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #6f95f2;
    cursor: pointer;
}

.title_updating {
    margin-left: 2%;
    margin-top: 2%;
}

.title_updating h2 {
    width: 70%;
    font-family: Nunito, sans-serif;
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #0446F1;
}

.img_updating {
    width: auto;
    max-width: 200px;
    height: auto;
    justify-self: end;
    margin-top: 2%;
    margin-right: 3%;
}

.block_leasing {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    box-shadow: 10px 10px 30px 5px #0446F11A;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    justify-content: center;
    gap: 60px;
}

.img_leasing {
    width: 100%;

}

.block_leasing:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #6f95f2;
    cursor: pointer;
}

.title_leasing {
    margin: 0 auto;
    margin-top: 2%;
}

.title_leasing h2 {
    font-family: Nunito, sans-serif;
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #0446F1;
}

.block_improvement {
    /*padding: 0 20px;*/
    width: 100%;
    /*min-width: 300px;*/
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    box-shadow: 10px 10px 30px 5px #0446F11A;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
}

.block_improvement:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #6f95f2;
    cursor: pointer;
}

.title_improvement h2 {
    width: 70%;
    font-family: Nunito, sans-serif;
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #0446F1;
    margin-left: 2%;
}

.img_improvement {
    /*width: auto;*/
    /*max-width: 150px;*/
    /*height: auto;*/
    /*margin-left: 3%;*/
    width: 150px;
    height: 150px;
}

.block_rent {
    width: 100%;
    min-width: 250px;
    padding: 0 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    box-shadow: 10px 10px 30px 5px #0446F11A;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
}

.block_rent:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #6f95f2;
    cursor: pointer;
}

.img_rent {
    width: auto;
    max-width: 150px;
    height: auto;
    /*margin-bottom: 2%;*/
}

.title_rent h2 {
    font-family: Nunito, sans-serif;
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #0446F1;
    /*text-align: center;*/
    justify-self: center;
}

.block_btn {
    display: none;
}

@media (max-width: 1024px) {
    .main_section {
        width: 100vw;
        overflow: hidden;
        margin-bottom: 50px;
    }


    .main_title_block h2 {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.015em;
    }

    .main_title_block p {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
        margin-top: 15px;
    }


    .blocks {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        grid-gap: 13px;
        /*margin: 10px;*/
        margin: 0 -1rem 0;
        padding: 0 4% 0 8%;
    }

    .title_updating h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
    }

    .img_updating {
        width: 100%;
        height: 190px;
        display: flex;
        align-self: flex-end;
    }

    .blocks > div:nth-child(1) {
        grid-row: 1;
        grid-column: 1 / 5;
        height: 282px;
    }

    .blocks > div:nth-child(2) {
        grid-row: 2;
        grid-column: 1 / 3;
        height: 320px;
        width: 100%;
        display: block;
        justify-content: space-between;
        align-items: center;
        justify-items: end;
        position: relative;

    }

    .img_leasing {
        width: 99%;
        margin-top: -17px;
    }

    .title_leasing h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        position: absolute;
        margin: 30px 0 0 40px;
    }


    .blocks > div:nth-child(4) {
        grid-row: 2;
        grid-column: 3 / 5;
        height: 320px;
    }

    .blocks > div:nth-child(3) {
        grid-row: 3;
        grid-column: 1 / 5;
        height: 282px;
    }

    .block_improvement {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }

    .img_improvement {
        width: 168px;
        height: 220px;
        margin-top: 10px;
    }

    .title_improvement h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        letter-spacing: -0.015em;
        color: #0446F1;
    }

    .title_improvement {
        width: 27vw;
    }


    .title_rent h2 {
        font-family: Nunito;
        font-size: 24px;
        font-weight: 800;
        line-height: 28px;
        letter-spacing: -0.015em;
        color: #0446F1;
        margin-top: -60px;
    }


    .img_rent {
        width: 268px;
    }


    .blocks > div:nth-child(5).block_btn {
        display: flex;
        grid-column: 2 / 4;
        margin: 0 auto;
    }

    .btn {
        width: 180px;
        height: 40px;
        border-radius: 6px;
        background: #0446F1;
        color: white;
        border: none;
        cursor: pointer;
    }

}

@media (max-width: 724px) {
    .main_section {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 50px;
        margin-top: -60px;
    }


    .blocks {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;
        display: grid;
        grid-auto-rows: minmax(151px, auto);
        /*gap: 15px;*/
        margin: 0 auto;
        padding: 0 2% 0 2%;
        margin-top: -34px;
    }

    .main_title_block h2 {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.015em;
    }

    .main_title_block p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
        margin-top: -2px;
    }


    .img_updating {
        width: 120px;
        height: 120px;
    }


    .block_updating .title_updating h2 {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: -0.02em;
    }


    .blocks > div:nth-child(1).block_updating {

        grid-column: 1 / 5;
        grid-row: 1;
        width: 100%;
        height: 151px;
        min-height: 151px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
    }

    .blocks > div:nth-child(2).block_leasing {
        grid-column: 1 / 5;
        grid-row: 3;
        width: 100%;
        height: 151px;
        border-radius: 30px;
    }

    .block_leasing .title_leasing h2 {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: -0.02em;
        margin-left: 40px;
    }


    .block_leasing .img_leasing {
        width: 156px;
        height: 156px;
        margin-top: -13px;
        margin-right: 20px;

    }

    .blocks > div:nth-child(4).block_rent {
        grid-row: 2;
        grid-column: 1 / 5;
        width: 100%;
        height: 151px;
        border-radius: 30px;

    }


    .block_rent .img_rent {
        width: 122px;
        height: 104px;
    }

    .block_rent .title_rent h2 {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: -0.02em;
        margin-top: clamp(-3.5rem, 3.5rem, -2.5rem);
    }


    .blocks > div:nth-child(3).block_improvement {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 4;
        height: 151px;
        border-radius: 30px;
        /*display: none;*/
        margin: 0 auto;
    }

    .title_improvement {
        width: 50%;
    }

    .title_improvement h2 {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: -0.02em;
        /*margin-top: -20px;*/
    }

    .block_improvement .img_improvement {
        width: 156px;
        height: 7rem;
    }

}


