.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/BackgroundF.png");
}

.container {
    width: 100%;
    background-image: url("../../images/BackgroundForm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
    min-height: 100px;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 200px;
}

.form {
    display: flex;
    flex-direction: column;
}

.conect {
    max-width: 350px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
}

.input_settings {
    display: flex;
    justify-content: end;
    align-items: center;
}

.input {
    width: clamp(250px, 25vw, 350px);
    height: clamp(35px, 5vh, 45px);
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: clamp(14px, 1vw, 16px);
    background: #FFFFFF;
    margin-left: 50px;
    margin-bottom: 15px;
}

.textarea {
    width: clamp(250px, 25vw, 350px);
    height: clamp(60px, 10vh, 80px);
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    resize: none;
    font-size: clamp(14px, 1vw, 16px);
    background: #FFFFFF;
    margin-left: 50px;
    margin-bottom: 15px;
}


.button {
    width: clamp(183px, 25vw, 183px);
    height: clamp(35px, 5vh, 45px);
    background-color: #0446F1;
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 500;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0d43cd;
}

.btn_settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        background-image: url("../../images/BackgroundForm.png");
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
       /*padding-bottom: 150px;*/
    }

    .input,
    .textarea {
        width: 250px;
        height: 45px;
        margin-bottom: 5px;
    }
    .textarea {
        margin-bottom: 10px;
    }

    .conect {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
       margin-top: -20px;

    }

    .button {
        font-size: 14px;
    }

}




@media screen and (max-width: 724px) {
    .container {
        width: 100%;
        min-width: 310px;
        height: 800px;
        padding: 40px;
        background-image: url("../../images/bgFormMob.svg");
        background-repeat: no-repeat;
        margin-right: 20px;
        padding-left: 50px;
    }


    .btn_settings img {
        display: none;
    }

    .conect {
        font-size: 16px;
        width: 300px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .input_settings {
        flex-direction: column;
        align-items: flex-start;
    }

    .input,
    .textarea {
        margin-left: 0;
        margin-top: 8px;
        width: 250px;
    }

    .button {
        font-size: 13px;
        width: 100%;
    }

}
