.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../images/lines.png");
    background-repeat: no-repeat;
    background-position: right top;
    max-width: 2000px;
}


.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    /*margin-left: 8%;*/
}

.section h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #0446F1;
    margin-top: 50px;
    width: 30vw;
    margin-bottom: 120px;
    margin-left: 8%;
}


.main_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    box-sizing: border-box;
    justify-content: center;
}

.blocks {
    width: 100%;
    max-width: 325px;
    min-width: 305px;
    height: 375px;
    padding: 30px;
    background: #FAFAFA;
    border-radius: 30px;
    box-shadow: 20px 20px 50px 10px #0446F11A;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
}


.blocks:hover {
    transform: translateZ(10px);
    box-shadow: 0 4px 8px #6f95f2;
}

.blocks p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #0446F1;
}


@media (max-width: 1024px) {

    .main_section {
        padding: 0 10px;
        margin-top: 10px;
        justify-content: center;
        margin-left:0;
    }

    .blocks {
        max-width: 100%;
        min-width: 100%;
        min-height: 200px;
        height: auto;
    }


    .section h2 {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 400;
        /*line-height: 72px;*/
        letter-spacing: -0.015em;
        color: #0446F1;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}


@media (max-width: 724px) {

    .main_section {
        padding: 0 10px;
        margin-top: 10px;
    }

    .blocks {
        max-width: 100%;
        min-width: 100%;
        min-height: 200px;
        height: auto;
    }


    .section h2 {
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.015em;
        color: #0446F1;
        margin-left: 20px;
    }
}
