* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* * {
    outline: 1px solid red !important;
  } */

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, .special-text {
    font-family: 'Nunito', sans-serif;
}
