/* Базовые стили */
.main {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    overflow: hidden;
}

/* Hero секция */
.heroSection {
    width: 100%;
    min-height: 100vh;
    background: #F6F6F6 url("../../images/bg_robots_1.png") no-repeat right top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 270px 0 100px 8%;
    box-sizing: border-box;
}

.heroContent {
    max-width: 60%;
}

.heroTitle h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.22;
    margin: 0 0 26px 0;
    color: #000;
}

.heroSubtitle {
    max-width: 62%;
}

.heroSubtitle p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
    color: #000;
}

/* Services секция */
.servicesSection {
    width: 100%;
    padding: 101px 0 100px;
}

.servicesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 103px;
}

.sectionTitle {
    width: 23vw;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.015em;
    color: #0446F1;
    margin: 0 0 60px 0;
    text-align: start;
}

.cardsGrid {
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 57px;
    justify-content: center;
}

.card {
    width: 432px;
    min-height: 270px;
    border: 1px solid #EEEEEE;
    backdrop-filter: blur(4px);
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 0 10px 20px 0;
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(111, 149, 242, 0.3);
}

.cardHeader {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    padding: 20px 0 0 22px;
    position: relative;
}

.cardIcon {
    position: absolute;
    top: -30px;
    left: 22px;
    width: auto;
    height: auto;
}

.cardsGrid .card:nth-child(1) .cardIcon {
    margin-top: 40px;
    width: 94px;
    height: 94px;
}

.cardsGrid .card:nth-child(2) .cardIcon {
    margin-top: 40px;
    width: 94px;
    height: 94px;
}


.cardsGrid .card:nth-child(3) .cardText {
    margin-top: 14px;

}

.cardsGrid .card:nth-child(4) .cardText {
    margin-top: 14px;

}


.cardHeader h3 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.67;
    letter-spacing: -0.015em;
    margin: 0 0 0 110px;
    color: #000;
}

.cardText {
    /*width: 300px;*/
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin: 36px 0 0 29px;
}

.ctaTitle {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.8);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 36px;
    text-align: center;

}

.ctaButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 40px;
    border-radius: 6px;
    background: #0446F1;
    color: #FFFFFF;
    border: none;
    margin: 53px auto 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.ctaButton:hover {
    background: #0335C7;
    transform: translateY(-2px);
}

/* Планшеты */

@media (max-width: 1374px) {
    .sectionTitle {
        width: 70%;

    }
}


@media (max-width: 1024px) {
    .heroSection {
        padding: 140px 3% 50px;
    }

    .heroContent {
        max-width: 100%;
    }

    .heroTitle h2 {
        font-size: 26px;
        line-height: 1.3;
    }

    .heroSubtitle p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.38;
    }

    .servicesContent {
        padding: 10px;
        margin-bottom: 50px;
        gap: 0;
    }

    .sectionTitle {
        width: 100%;
        font-size: 24px;
        line-height: 1.17;
        margin-left: 4%;
        margin-bottom: 50px;
    }

    .cardsGrid {
        width: 100%;
        gap: 20px;
    }

    .card {
        width: 100%;
        min-height: 200px;
        padding: 10px;
        border-radius: 20px;
    }

    .cardHeader {
        gap: 12px;
    }

    .cardsGrid .card:nth-child(1) .cardIcon,
    .cardsGrid .card:nth-child(2) .cardIcon {
        margin-top: 1px;
        top: 6px;
        width: 80px;
        height: 80px;
    }

    .cardsGrid .card:nth-child(1) .cardText,
    .cardsGrid .card:nth-child(2) .cardText {
        margin-top: 14px;

    }
    .cardsGrid .card:nth-child(3) .cardText {
        margin-top: 14px;

    }

    .cardsGrid .card:nth-child(4) .cardText {
        margin-top: 14px;

    }



    .cardIcon {
        width: 80px;
        height: 80px;
        top: 6px;
    }

    .cardHeader h3 {
        font-size: 18px;
        line-height: 1.25;
        margin: 0 0 10px 90px;
        width: 50%;
        min-height: 50px;
    }

    .cardText {
        margin: 0;
        width: 70%;
        height: 100px;
        padding: 0 0 0 20px;
        /*margin: 0 auto;*/
        /*height: auto;*/
        font-size: 14px;
        line-height: 1.33;
    }


    .ctaTitle {
        width: 100%;
        padding: 10px;
        font-size: 20px;
    }
}

/* Мобильные */
@media (max-width: 724px) {
    .heroSection {
        padding: 0 3% 50px;
    }

    .heroTitle h2 {
        font-size: 22px;
        line-height: 1.3;
    }

    .heroSubtitle {
        /*max-width: 72%;*/
    }

    .heroSubtitle p {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.38;
    }

    .servicesContent {
        padding: 10px;
        margin-bottom: 50px;
        gap: 0;
    }

    .sectionTitle {
        width: 100%;
        /*padding-right: 10px;*/
        font-size: 24px;
        line-height: 1.17;
        margin-left: 4%;
    }

    .cardsGrid {
        width: 100%;
        gap: 20px;
    }

    .card {
        width: 100%;
        min-height: 200px;
        padding: 10px;
        border-radius: 20px;

    }

    .cardHeader {
        gap: 12px;
        /*padding: 0 5px 0 0;*/
    }

    .cardsGrid .card:nth-child(1) .cardIcon {
        margin-top: 1px;
        width: 70px;
        height: 70px;
        top: 6px;
    }

    .cardsGrid .card:nth-child(2) .cardIcon {
        margin-top: 1px;
        width: 70px;
        height: 70px;
        top: 6px;
    }

    .cardIcon {
        width: 70px;
        height: 70px;
        top: 6px;
    }

    .cardHeader h3 {
        font-size: 16px;
        line-height: 1.25;
        margin: 0 0 0 90px;
    }

    .cardText {
        width: 100%;
        padding:0 0 0 10px;
        height: auto;
        font-size: 12px;
        line-height: 1.33;
        /*padding-right: 10px;*/
    }


    .ctaTitle {
        width: 100%;
        padding: 10px;
    }
}

/* Большие экраны */
@media (min-width: 1924px) {
    .heroTitle h2 {
        font-size: 68px;
        line-height: 1.03;
    }

    .heroSubtitle p {
        font-size: 36px;
        line-height: 1.33;
    }

    .cardsGrid {
        width: 90vw;
        margin-top: 100px;
        row-gap: 100px;
        gap: 50px;
    }

    .card {
        width: 39vw;
        padding: 10px 10px 30px;
    }

    .sectionTitle {
        font-size: 68px;
    }

    .cardText {
        width: 80%;
        font-size: 30px;
        line-height: 1.13;
        padding-top: 160px;
    }

    .cardIcon {
        width: 250px;
        height: 250px;
    }

    .cardHeader h3 {
        font-size: 48px;
        line-height: 1.17;
        padding-left: 160px;
        margin-left: 0;
    }

    .ctaTitle {
        font-size: 46px;
    }

    .ctaButton {
        width: 350px;
        height: 80px;
        font-size: 30px;
    }
}
