.main_block {
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.img_partners7_3 {
    display: none;
}

.img_partners2_2 {
    display: none;
}

.img_partners7_1 {
    display: none;
}


.img_patriot {
    display: none;
}

.img_partners2_1 {
    display: none;
}

.block_title {
    margin-left: -50px;
}

.block_title h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #0446F1;
}

.block_title p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.015em;
    padding-top: 10px;
}

.partners, .partners_down {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 40px;
    align-items: center;
    justify-items: center;
}

.partners img, .partners_down img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .img_partners1 {
        width: 81px;
        /*height: 94px;*/
    }

    .img_partners3 {
        width: 156px;
    }

    .img_partners5 {
        width: 132px;

    }

    .img_partners6 {
        width: 164px;
        margin: 0 auto;
    }

    .main_block {
        width: 100%;
        padding: 10px;
    }

    .block_title {
        margin-left: 10px;
    }

    .block_title h2 {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.015em;
        color: #0446F1;


    }

    .block_title p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.015em;
    }


    .img_patriot {
        display: flex;
    }

    .partners {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .partners_down {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .partners_down img:nth-child(3).img_partners6 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

    }

    .img_partners8 {
        display: none;
    }

    .img_partners2_1 {
        display: flex;
    }

    .img_partners7_1 {
        grid-row: 2 / 2;
        display: flex;
        margin-left: calc(130% - 50px);
    }


    .img_partners7_3 {
        grid-row: 2 / 1;
    }

    .img_partners2_2 {
        display: flex;
    }


    .img_partners5 {
        display: none;
    }

    .img_partners4 {
        display: none;
    }

    .img_partners2 {
        display: none;
    }

    .img_partners7 {
        display: none;
    }

    .img_partners6 {
        grid-row: 1 / 2;
    }

    .img_patriot {
        grid-row: 1 / 2;
    }

}


@media (min-width: 1921px) {
    .main_block {
        width: 100%;
        max-width: 1921px;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        margin-top: 50px;
    }

    .block_title h2 {
        font-size: 66px;
    }

    .block_title p {
        font-size: 36px;
    }

    .block_title {
        margin-left: 50px;
    }

    .partners img {
        width: 200px;
        height: 200px;
    }

    .partners_down img {
        width: 200px;
        height: 200px;
    }

    .block_title h2 {
        font-family: Montserrat;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.015em;
        color: #0446F1;
    }

    .partners {
        margin-bottom: 50px;
    }

    .partners img {
        width: 350px;
        height: 350px;
        border: 1.7px solid white;
    }

    .partners_down img {
        width: 350px;
        height: 350px;
        border: 1.7px solid white;
    }

}
