.main_section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.block_title {
    width: 320px;
    margin: 0 8%;
}

.block_title h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.015em;
    margin-top: 120px;
    color: #0446F1;

}

.block_title p {
    font-family: Montserrat;
    /*margin-left: 170px;*/

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000CC
}

.block_widgets {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 120px;
    padding: 0 10px;
    margin-left: -50px;
}


.img {
    width: 55px;
    height: 85px;
}

.widget {
    display: flex;
    align-items: center;
    width: 25.375rem;
    height: 170px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding-left: 69px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    transition: transform 0.3s ease,
    box-shadow 0.3s ease;
    transform-style: preserve-3d;
    box-shadow: 0 8px 18px #86a4f4;
}

.widget:hover {
    transform: translateZ(10px);
    box-shadow: 0 4px 8px #6f95f2;
}

.widgets_title {
    width: 21.875rem;
    font-size: 18px !important;
    font-family: "Montserrat", sans-serif;

    display: flex;
    flex-direction: column;
    /*margin-left: 30px;*/
    gap: 10px;
    line-height: 22px;
    padding: 17px 30px;
}

.widgets_title h2 {
    font-size: 18px;
    color: #000000;
}

.widgets_title p {
    font-size: 12px;
    color: #000000;
}

@media (max-width: 1024px) {
    .main_section {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .block_widgets {
        margin: 0 auto;
        margin: 0 20px 0 20px;
    }

    .widget {
        display: flex;
        width: 80%;
        border-radius: 50px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        padding-left: 29px;
        /*height: 200px;*/
        /*margin: 0 10%;*/
        /*height: 170px;*/
        margin: 0 auto;
        transition: transform 0.3s ease,
        box-shadow 0.3s ease;
        transform-style: preserve-3d;
        box-shadow: 0 8px 18px #86a4f4;
        gap: 50px;
        align-items: center;
        /*justify-content: center;*/
        padding-left: 50px;
    }

    .block_title {
        width: 50%;
        margin-left: 8%;
        margin-bottom: 30px;
    }

    .block_title h2 {
        font-size: 36px;
    }

    .block_title p {
        font-size: 24px;
        font-family: Montserrat;
        font-weight: 400;
        line-height: 24px;
    }


    .widgets_title h2 {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.02em;
    }

    .widgets_title p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.02em;
        text-align: left;
        line-height: 1.5;
    }

}

@media (max-width: 724px) {
    .block_title {
        width: calc(100% - 1px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-left: 4%;
    }

    .main_section {
        width: 100%;
        margin-top: -80px;
        margin-bottom: 10px;
    }

    .block_title h2 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }

    .block_title p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }


    .block_widgets {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 40px 10px;
        margin-bottom: 30px;
    }

    .img {
        width: 40px;
        height: 50px;
        margin-left: -12px;
    }

    .widget {
        display: flex;
        width: 100%;
        max-width: 100%;
        border-radius: 30px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        height: 151px;
        /*height: 170px;*/
        transition: transform 0.3s ease,
        box-shadow 0.3s ease;
        transform-style: preserve-3d;
        box-shadow: 0 8px 18px #86a4f4;
        gap: 10px;
    }


    .widgets_title {
        width: 70%;
        display: flex;
        gap: 4px;
        flex-direction: column;
        padding: 16px;
    }

    .widgets_title h2 {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.02em;
    }

    .widgets_title p {
        width: 100%;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.02em;
        line-height: 16px;
    }
}


@media (min-width: 1921px) {
    .block_title {
        width: 40%;
    }

    .block_title h2 {
        font-size: 48px;
        line-height: 32px;
    }

    .block_title p {
        width: 100%;
        font-size: 24px;
        padding-top: 20px;
    }

    .widget {
        display: flex;
        min-width: 30vw;
        height: 290px;
        padding: 10px 20px 20px 20px;
    }


    .widgets_title {
        width: 100%;
    }

    .widgets_title p {
        font-size: 18px;
        line-height: 26px;
    }

    .widgets_title h2 {
        font-family: Montserrat;
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.015em;
        color: #000000CC;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .img {
        width: 15vw;
        height: 10vh;
    }
}



