.main {
    width: 100%;
    padding: 0 4% 0 8%;
    background-image: url("../../images/kit.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 133px) top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.main_blocks {
    width: 100%;
    margin-bottom: 120px;
}

.main_blocks h2 {
    font-family: Montserrat, sans-serif;
    font-size: clamp(28px, 4vw, 48px);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #0446F1;
    text-align: start;
    padding-top: 120px;
    padding-right: 100px;
}

.productGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "robots retrofitting manipulators"
    "panels panels manipulators"
    "accessories accessories accessories";
    gap: 20px;
    /*margin-top: 5%;*/
    min-height: 100px;
}



