.main {
    width: 100%;
    max-width: 2000px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.section {
    width: 100%;
    position: relative;
    background-image: url("../../images/panels.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}


.section h2 {
    padding-left: 8%;
    padding-top: 100px;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #0446F1;
}


.all_blocks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin-top: 110px;
    padding: 20px;
    margin-bottom: 100px;
}

.blocks h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #0446F1;

}


.blocks {
    width: 100%;
    min-width: 305px;
    max-width: 325px;
    height: 375px;
    border-radius: 30px;
    background: #FAFAFA;
    box-shadow: 20px 20px 50px 10px #0446F11A;
    padding: 20px 0 0 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
}

.blocks:hover {
    transform: translateZ(10px);
    box-shadow: 0 4px 8px #6f95f2;
}




@media (max-width: 1024px) {
    .section {
        background-size: 80vw auto;
        background-position: right top;
        padding-top: 10px;
    }

    .section h2 {
        font-size: 36px;
    }
    .all_blocks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: start;
        gap: 20px;
        margin-top: 80px;
    }
}

@media (max-width: 724px) {
    .section h2 {
        text-align: start;
        font-size: 26px;
        font-weight: 400;
        padding-top: 50px;
    }

    .all_blocks {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: start;
        gap: 20px;
        margin-top: 10px;
    }
}



